.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* for 16:9 aspect ratio. It's calculated as (9/16)*100% */
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotation {
  position: absolute;
  border: 2px solid red;
  background-color: transparent;
}

.thumbnail-container {
  width: 60px; 
  height: 60px; 
  position: relative;
  overflow: hidden;
}

.thumbnail-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  overflow-y: auto;
  height: calc(100vh - 64px);
  flex-grow: 1;
}


@media screen and (max-width: 768px) {
  aside {
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .is-sidebar-open {
    transform: translateX(0);
  }
}
